@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "variables";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: $white;
}

.container {
  margin: 0 auto;
  padding: 64px 49px 0 51px;
}
